__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.env
.env.*
.openai_api_key
*.openai_api_key
*openai_api_key*

ai_writer_room/logs/*
!ai_writer_room/logs/.gitkeep

ai_writer_room/output/*
!ai_writer_room/output/.gitkeep
